* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3D9C5C;
    padding: 20px;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 10px;
}

.hero__section{
    background-color: white;
    border-radius: 15px;
    padding: 10px 7px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 3rem;
}

/* Card Styling */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 20px 0px 0 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: block;
   
}

.card:hover{
    background-color: #3D9C5C;
    color: white;
    transform: scale(1.05);
}

.card img {
    width: 80px;
    height: auto;
    margin: 10px 0;
}

.support-text {
    font-size: 1rem;
    /* color: #555; */
}

.item-name {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
}

.price {
    font-size: 1.2rem;
    background-color:  #3D9C5C;
    padding: 10px 5rem;
    border-radius: 0 12px;
    margin: auto;
    width: 100%;
    color: white;
    font-weight: bold;
}

/* Coffee Pot Donation Section */
.coffee-pot-donation {
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coffee-pot-donation img {
    width: 80px;
    height: auto;
}

.donation-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

}

.donation-input input {
    padding: 8px;
    font-size: 1rem;
    outline: none;
    width: 90px;
    border: 1px solid gray;
    border-radius: 20px;
    
}

.donation-input button {
    background-color: #007b55;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.donation-input button:hover {
    background-color: #00593e;
}
/* .donation-input{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */


/* Tablet View */
@media (min-width: 768px) {
    body{
        height: 100vh;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .side-donation {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .donation-input{
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        
    }

    input{
        border-radius: 20px;
        width: 90px;
        padding: 0 15px;
    }
}

/* Laptop View */
@media (min-width: 1024px) {
    body{
        height: 100vh;
    }
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero__section{
        padding: 3rem;
    }

    /* .coffee-pot-donation {
        grid-column: span 2 / 3;
        display: flex;
    } */

    .coffee-pot-donation{
        grid-column: span 3;
    }

    .coffee-pot-donation{
        max-width: 100%;
        margin: auto;
    }

    .donation-input{
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        padding-right: 4rem;
        border-left: 2px solid black;
    }

    

    .price{
        align-self: flex-start;
    }

    input{
        border-radius: 20px;
        width: 90px;
        padding: 0 15px;
    }
   
}
